Web Service Implementation/rndsServiceClient/src/META-INF/wsdl/localhost_8080/rndsWebService/RandomNumbersService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://service.rnds/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.rnds/">

<xs:element name="IOException" type="tns:IOException" />

<xs:element name="generateRandomSequence" type="tns:generateRandomSequence" />

<xs:element name="generateRandomSequenceResponse" type="tns:generateRandomSequenceResponse" />

<xs:complexType name="generateRandomSequence">
<xs:sequence>
<xs:element name="sequenceLength" type="xs:int" />
<xs:element name="packagesAmount" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="generateRandomSequenceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>